/*! COLORS */
// source: https://brandspace.deloitte.com/content/index/guid/color_6?parent=573
$white: #ffffff;
$black: #000000; // text color, // ctxe text color 1
$deloitte-green: #86BC25;

// Deloitte green color palette
$green-2: #C4D600; // ctxe chart color 8
$green-4: #43B02A; // ctxe chart color 9
$green-6: #046A38; // ctxe chart color 10
$green-7: #2C5234;

// Deloitte blue color palette
$teal-5: #0097A9; // ctxe chart color 3
$blue-2: #62B5E5; // ctxe chart color 4
$blue-3: #00A3E0; // primary button and link color, // ctxe chart color 5
$blue-4: #0076A8; // ctxe chart color 6
$blue-6: #012169; // ctxe chart color positive

// Deloitte gray color palette
$cool-gray-2: #D0D0CE; // ctxe chart axis color
$cool-gray-4: #BBBCBC;
$cool-gray-7: #97999B; // secondary headline color, // ctxe chart color 7
$cool-gray-9: #75787B;
$cool-gray-11: #53565A;

// Deloitte secondary color palette
$green-1: #E3E48D;
$green-5: #009A44;
$teal-1: #DDEFE8;
$teal-2: #9DD4CF; // ctxe chart color 1
$teal-3: #6FC2B4; // ctxe chart color 2
$teal-4: #00ABAB;
$teal-6: #007680;
$teal-7: #004F59;
$blue-1: #A0DCFF;
$blue-5: #005587; // ctxe blue
$blue-7: #041E42;
$cool-gray-6: #A7A8AA; // ctxe text color 3
$cool-gray-10: #63666A; // ctxe text color 2

// Deloitte  functional colors
$red: #DA291C; // ctxe chart color negative
$orange: #ED8B00;
$yellow: #FFCD00;

// Font colors
$font-dark-gray: #424143;
$font-light-gray: #efefef;

// Additional elements
$background-green: #f3f8e9;
$frame-gray: #f0f0f0;
$indicator-red: #e30613;
$purple-visited-link: #660099;

// ContextEdge colors
$blue-1-nav: rgba(160, 220, 255, 49);
$cool-gray-2-gridline: rgba(208, 208, 206, 35);
