/*! CTxE Starter App - custom classes (home) */

.viz-title {
    margin-bottom: 20px;
}

.nlp-vocab {
    font-weight: $font-weight-bold;
    font-style: italic;
}

.caption {
    font-style: italic;
    font-size: $font-size-small;
    color: $cool-gray-7;
}

.selected-doc {
    font-weight: bold;
}
