/*! IMPORTS */

// fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,600,600i,700,700i,800,900|Open+Sans:300,400,400i,600,600i,700,700i,800,900');
// icon fonts
@import "./vendor/font-awesome/fontawesome.scss";
@import "./vendor/font-awesome/solid.scss";
@import "./vendor/font-awesome/brands.scss";

// custom files
@import 'colors';
@import 'spacing';
@import 'typography';
@import 'selections';
@import 'containers';
@import 'loading';
@import 'navigation';
@import 'home';
@import 'media';
@import 'charts';
@import 'tables';
@import 'upload-box';
