/*! MEDIA BREAKPOINTS */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  html, body {
    font-size: 12px;
  }
  /*** NAVIGATION ***/
  .main-nav, .nav-button-container, .nav-logo-container {
    min-height: 55px;
    max-height: 55px;
    height: 100%;
  }
  .main-nav {
    // padding: 0 10px;
    padding: 0 0px;
    padding-left: 10px;
  }
  .nav-logo-container {
    padding: 3px 0;
  }
  .nav-button {
    padding: 15px 0;
    margin: 0 8px;
    height: 100%;
    min-height: 100%;
    border-radius: 0px;
    border-bottom: 5px solid $black;
  }

  /*** THEME / MAIN CONTENT ***/
  .main-container {
    height: auto;
    min-height: calc(100vh - 55px);
    max-height: calc(100vh - 55px);
  }

  .template-container {
    width: 100%;
    padding: 5px 0px;
  }

  .project-workstream-container, .stats-ribbon-container, .sun-burst-container {
    padding: 0 0 10px 0;
  }
  .util-search-container {
    min-width: 130px;
    width: auto;
    max-width: 130px;
  }
  .util-search-container i {
    padding: 5px 0px;
  }
  .project-dropdown-container, .workstream-dropdown-container {
    font-size: .9em;
    padding: 0 2px;
  }
  .util-dropdowns-container {
    min-width: 400px;
    width: auto;
    max-width: 500px;
  }
  .util-dropdowns-container label {
    font-size: .8em;
  }
  select.dropdown {
    width: 110px;
  }
  .util-buttons-container {
    min-width: 175px;
    width: auto;
    max-width: 175px;
  }
  .reset-button-container {
    min-width: 75px;
    width: auto;
    max-width: 75px;
  }
  .add-new-milestone-container{
    min-width: 100px;
    width: auto;
    max-width: 100px;
  }
  .new-milestone-menu {
    position: fixed;
    top: 55px;
  }
  // .loading-view {
  //   min-height: calc(100vh - 55px);
  //   top: 55px;
  // }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .sun-burst-container {
    min-height: calc(60vh - 20px);
    max-height: calc(60vh - 20px);
  }
  .project-workstream-container {
    min-height: calc(60vh - 70px);
    max-height: calc(60vh - 70px);
  }
  .util-dropdowns-container {
    min-width: 385px;
    width: auto;
    max-width: 385px;
    padding: 0 15px;
  }
  .util-legend-container {
    min-width: 250px;
    width: auto;
    max-width: 250px;
  }
  .loading-view {
    min-height: calc(100vh - 55px);
    top: 55px;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  html, body {
    font-size: 12px;
  }
  /*** NAVIGATION ***/
  .main-nav, .nav-button-container, .nav-logo-container {
    min-height: 55px;
    max-height: 55px;
  }
  .main-nav {
    // padding: 0 10px;
    padding: 0 0px;
    padding-left: 10px;
  }
  .nav-logo-container {
    padding: 3px 0;
  }
  .nav-button {
    padding: 15px 0;
    margin: 0 8px;
    height: 100%;
    min-height: 100%;
    border-bottom: 5px solid $black;
  }

  .roadmap-util-bar-container {
    min-height: 50px;
    height: 50px;
    max-height: 50px;
  }

  /*** THEME / MAIN CONTENT ***/
  .main-container {
    height: auto;
    min-height: calc(100vh - 55px);
    max-height: calc(100vh - 55px);
  }

  .template-container {
    width: 100%;
    padding: 5px 0px;
  }

  .project-workstream-container, .stats-ribbon-container, .sun-burst-container {
    padding: 0 0 12px 0;
  }
  .project-workstream-container {
    min-height: calc(60vh - 60px);
    max-height: calc(60vh - 60px);
  }
  .sun-burst-container {
    min-height: calc(60vh - 20px);
    max-height: calc(60vh - 20px);
  }
  .stat-container {
    padding: 0px 0px;
  }
  .stat-content {
    font-size: .65em;
  }
  .stat-icon {
    font-size: 1.8em;
    padding: 0 5px 0 0
  }
  .stat-numer {
    font-size: 1.8em;
    padding: 3px 5px;
  }
  .util-search-container i {
    padding: 10px 0px;
  }
  .util-dropdowns-container {
    display: inline-block;
    min-width: 270px;
    width: auto;
    max-width: 270px;
    text-align: center;
    padding: 0 0px;
  }
  .project-dropdown-container, .workstream-dropdown-container {
    text-transform: center;
    padding: 0 0;
    width: 125px;
  }
  .util-dropdowns-container label {
    width: 100%;
  }
  select.dropdown {
    height: auto;
  }

  .util-legend-container {
    min-width: 225px;
    width: auto;
    max-width: 225px
  }
  .legend-container {
    margin: 0 3px;
  }
  .util-buttons-container {
    min-width: 100px;
    width: auto;
    max-width: 100px;
  }
  .reset-container {
    min-width: 30px;
    width: auto;
    max-width: 30px;
    margin: 0px 20px 0px 0px;
  }
  .add-new-milestone-container {
    min-width: 50px;
    width: auto;
    max-width: 50px;
    margin: 0px;
  }
  .add-new-milestone-button, .reset-button {
    padding: 3px 0;
  }
  .reset, .new-milestone {
    display: none;
  }
  .fa-plus, .fa-refresh {
    display: inline-block;
  }
  .reset-button {
    border: 0px solid $font-dark-gray;
  }
  .loading-view {
    min-height: calc(100vh - 55px);
    top: 55px;
  }
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}
