/*! SELECTIONS */

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  &:hover {
    color: inherit; /* blue colors for links too */
    text-decoration: underline; /* no underline */
  }
  &:visited {
    color: $blue-5;
    text-decoration: inherit; /* no underline */
  }
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: $blue-3;
    color: $white;
    border-color: $blue-3;
}

.btn-primary:hover,
.btn-primary:focus {
    background: $blue-2;
    box-shadow: none;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background: $blue-4;
    box-shadow: none;
}

.btn-outline-primary {
    background: transparent;
    color: $blue-3;
    border-color: $blue-3;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.open > .dropdown-toggle.btn-outline-primary {
    background: $blue-3;
    color: $white;
    box-shadow: none;
}
