/*! TABLES */

/* Generic Styling, for Desktops/Laptops */
table {
	width: 100%;
	border-collapse: collapse;
}

th {
	font-weight: $font-weight-semi-bold;
	cursor: s-resize;
	background-repeat: no-repeat;
	background-position: 3% center;
}

td,
th {
    padding-right: 18px;
    position: relative;
}

.header,
.headerSortDown,
.headerSortUp {
    &:after {
        @extend %fa-icon;
        @extend .fas;
        border: 7px solid transparent;
        color: $cool-gray-2;
    }
}

.header:after {
    @include fa-icon;
    content: fa-content($fa-var-sort);
}

.headerSortDown:after {
    @include fa-icon;
    content: fa-content($fa-var-sort-down);
}

.headerSortUp:after {
    @include fa-icon;
    content: fa-content($fa-var-sort-up);
}

/********************************
ContextEdge table styling
********************************/
.table .thead-dark th {
    background: $blue-5;
    border-color: darken($blue-5, 10%);
}

// Hover effects on rows
.table-hover tbody tr:hover {
    background-color: $blue-1;
}

/********************************
END ContextEdge table styling
********************************/

/*
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
	/* Force table to not be like tables anymore */
	table,
	tbody,
	td,
	th,
	thead,
	tr {
		display: block;
	}
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
		border: 1px solid $cool-gray-9;
	}

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid $cool-gray-7;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
	/*
		Label the data
		*/
	td:before {
		content: attr(data-th) ": ";
		font-weight: $font-weight-bold;
		width: 6.5em;
		display: inline-block;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	body {
		padding: 0;
		margin: 0;
		width: 320px;
	}
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	body {
		width: 495px;
	}
}
